{% extends "base.html" %}
{% block title %}curl Commands{% endblock %}
{% block content %}
<ul>
    <li><h4>Post Request:</h4><h6> curl -i -k -H "Content-Type: application/json" -X POST -d '{"Country":"TestCountry","CountryCode":"TC","NewConfirmed":3843,"NewDeaths":442, "NewRecovered":58,"TotalConfirmed":52279,"TotalDeaths":5385,"TotalRecovered":287}' https://0.0.0.0:443/summary/country</h6></li>
    <li><h4>Put Request:</h4><h6> curl -i -k -H "Content-Type: application/json" -X PUT -d '{"NewConfirmed":101,"NewDeaths":101,"NewRecovered":101,"TotalConfirmed":101,
"TotalDeaths":101,"TotalRecovered":101}' https://0.0.0.0:443/summary/country/TestCountry</h6></li>
    <li><h4>Delete Request:</h4><h6> curl -k -X DELETE https://0.0.0.0:443/summary/country/TestCountry</h6></li>
    <li><h4>Get Request:</h4><h6>curl -k -v https://0.0.0.0:443/summary/country/China</h6></li>
</ul>

{% endblock %}
